# Built artifacts
bin/
gen/
out/
build/
app/build/

# Gradle files
.gradle/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# VS Code
.vscode/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
.navigation/

# Device/emulator logs and captures
captures/

# NDK/C++ builds
.externalNativeBuild/
.cxx/

# OS-specific files
.DS_Store
Thumbs.db

# Mobile tools (e.g. crashlytics)
.fabric/

# Keystores & signing
*.jks
*.keystore
*.pk8
*.pem

# Python files
__pycache__/
*.pyc
