<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project1.psira"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" tools:targetApi="s" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.wifi.direct" android:required="false" />

    <application
        android:name="com.project1.psira.PsiRaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PsiRa">

        <activity
            android:name="com.project1.psira.DisguiseActivity"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.project1.psira.LauncherClock"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_cloak_clock"
            android:label="Clock"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".LauncherCalculator"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cloak_calculator"
            android:label="Calculator"
            android:targetActivity=".DisguiseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherNotepad"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cloak_notepad"
            android:label="Diary"
            android:targetActivity=".DisguiseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherRecorder"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cloak_recorder"
            android:label="Voice Memos"
            android:targetActivity=".DisguiseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherCalendar"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cloak_calendar"
            android:label="Day Planner"
            android:targetActivity=".DisguiseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherWeather"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cloak_weather"
            android:label="Currency"
            android:targetActivity=".DisguiseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".LauncherConverter"
            android:enabled="false"
            android:exported="true"
            android:icon="@drawable/ic_cloak_converter"
            android:label="Converter"
            android:targetActivity=".DisguiseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>



        <activity android:name=".SplashActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ChatActivity" android:exported="false" android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".LearningActivity" android:exported="false" />
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".NexusDashboardActivity" android:exported="false" />
        <activity android:name=".GroupsActivity" android:exported="false" />
        <activity android:name=".ChatsActivity" android:exported="false" />
        <activity android:name=".DirectChatActivity" android:exported="false" />
        <activity android:name=".VaultActivity" android:exported="false" />
        <activity android:name=".StegActivity" android:exported="false" />
        <activity android:name=".StealthDetailActivity" android:exported="false" />
        <activity android:name=".NoteEditorActivity" android:exported="false" />
        <activity android:name=".GodDashboardActivity" android:exported="false" />
        <activity android:name=".WifiDirectChatActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".NexusLinkActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".CallActivity" android:exported="false" android:screenOrientation="portrait"/>
        <activity android:name=".CallHistoryActivity" android:exported="false" />

        <service android:name="com.project1.psira.PsiraMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        
        <service android:name="com.project1.psira.SpectreNodeService" android:foregroundServiceType="connectedDevice" android:exported="false" />
        <service
            android:name="com.project1.psira.CallService"
            android:foregroundServiceType="microphone"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>